<html>

<body>

<h1>Rating submitted</h1>


{% for i in range(num) %}
<div>
    <p>{{Movie_chosen[i]['movie_name']}}<a href={{url_for('ML_newMovie',movie_id=i)}}> Details</a></p>

    {% if movie_to_rate.find_one({'Name':Movie_chosen[i]['movie_name']})!=None %}

        <p>Rating:{{movie_to_rate.find_one({'Name':Movie_chosen[i]['movie_name']})['Rating']}}</p>
    {% else %}
        <form method = 'POST'>

        <p>Rating:

        <input type='text' size='15' name={{nametag[i]}}>

        <input type='submit' value='Submit'></p>

        </form>
    {% endif %}

</div>
{% endfor %}

<a href={{url_for('ML_reRate')}}> Start over</a>

</body>

</html>